@import "@fortawesome/fontawesome-svg-core/styles.css";

:root {
  --background-color: #724BE1;
  --accent-color: #D6008D;
  --light-accent-color: #FF80C8;
  --dark-accent-color: #9C005D;
  --text-color: #FFFFFF;
  --secondary-text-color: #FEEFF8;
  --button-bg-color: #FFFFFF;
  --button-text-color: #D6008D;
  --hover-bg-color: #D6008D;
  --hover-text-color: #FFFFFF;
  --footer-bg-color: #5B3AB2;
  --footer-text-hover-color: #FF80C8;
}

html,
body {
  background-color: var(--background-color);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  width: 100%;
  height: 100%;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

svg {
  width: 100%;
  height: 100%;
  object-fit: fill;
  fill: var(--accent-color);
}

.content {
  position: relative;
}

.container {
  display: grid;
  grid-template-rows: min-content auto 50px;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
}


.page-heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  text-shadow: 2px 2px 5px var(--dark-accent-color);
  margin-bottom: 1rem;
}

.main-content {
  grid-row: 1;
  grid-column: 1;
  justify-self: center;
  max-width: 500px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}

.main-content p {
  padding: 0rem;
  margin: 0.5rem;
  color: var(--secondary-text-color);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.event-details {
  margin-top: 1rem;
  padding: 1rem;
  color: var(--secondary-text-color);
  text-align: left;
  font-size: 1rem;
}

.event-details h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  color: var(--text-color);

}

.event-details p {
  margin: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.4;
}

.event-details strong {
  color: var(--text-color);
  font-weight: bold;
}

.button {
  display: inline-block;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 0.8rem 1.6rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
  border: 2px solid var(--accent-color);
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  width: 50%;
  margin: 0.2rem;
}

.button:hover {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
  border-color: var(--hover-text-color);
}

.button.primary {
  background-color: var(--hover-bg-color);
  color: var(--hover-text-color);
  border-color: var(--hover-text-color);
}

.button.primary:hover {
  transform: scale(1.05);
}

.button.secondary {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
}

.imageContainer {
  display: flex;
  grid-row: 2;
  grid-column: 1;
  justify-self: end;
  align-self: flex-end;
  max-width: 300px;
}

.imageContainer img {
  align-self: flex-end;
}

footer {
  grid-row: 3;
  grid-column: 1;
  width: 100%;
  background-color: var(--footer-bg-color);
  color: var(--secondary-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}

.footer a {
  color: var(--text-color);
  text-decoration: none;
  display: inline;
  transition: color 0.3s;
  margin: 0;
}

.footer a:hover {
  color: var(--footer-text-hover-color);
}

.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 0.8rem;
  transition: color 0.3s;
}

.socials svg {
  margin-right: 0.3rem;
  font-size: 1.0rem;
}

.socials a:hover {
  color: var(--footer-text-hover-color);
}

@media (min-width: 350px) {
  .socials a {
    font-size: 1rem;
  }
  .socials svg {
    margin-right: 0.5rem;
    font-size: 1.5rem;
  }
}


@media (min-width: 500px) {
  .main-content {
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-top: 4rem;
  }
}

@media (min-width: 1000px) {
  .container {
    grid-template-rows: auto 50px;
    grid-template-columns: 1fr 1fr;

  }

  .main-content {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
    align-self: start;
    max-width: 500px;
    width: fit-content;
  }

  .imageContainer {
    grid-row: 1;
    grid-column: 2;
    justify-self: end;
    max-width: 1000px;
  }

  .imageContainer img {
    max-width: 100%;
  }

  footer {
    grid-row: 2;
    grid-column: 1 / 3;
  }
}

@media (min-width: 1350px) {
  .container {
    grid-template-rows: auto 50px;
    grid-template-columns: 1fr 2fr;
  }
  
  .main-content {
    margin-left: 5rem;
  }
}