/* globals.css */
@import "@fortawesome/fontawesome-svg-core/styles.css";

:root {
  --background-color: #724BE1;
  --accent-color: #D6008D;
  --text-color: #ffffff;
  --secondary-text-color: #fefae0;
  --footer-bg-color: #f4338f;
  --footer-text-hover-color: #b85db5;
  
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

.container {
  display: grid;
  grid-template-rows: auto auto 50px; /* Main Content, Image, Footer */
  grid-template-columns: 1fr; /* Single-column layout */
  width: 100%;
  max-width: 100%;
  min-height: 100vh; /* Ensures full viewport height */
  padding: 0;
  box-sizing: border-box;
}


.page-heading {
  font-size: 2rem;
  font-weight: bold;
  color: var(--text-color);
  text-shadow: 2px 2px var(--footer-bg-color);
  margin-bottom: 1rem;
}

.main-content {
  grid-row: 1; /* Place in the second row */
  grid-column: 1; /* Occupy the first column */
  justify-self: center; /* Center-align content horizontally */
  max-width: 500px;
  text-align: center;
}

.main-content p {
  padding: 0rem;
  margin: 0.5rem;
  color: var(--secondary-text-color);
}

.donate-button {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--text-color);
  font-weight: bold;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  margin: 1rem 0;
  font-size: 1.2rem;
  transition: background-color 0.3s, transform 0.2s;
}

.donate-button:hover {
  background-color: rgba(0, 0, 0, 0.6);

}

.event-details {
  margin-top: 1rem;
  padding: 1rem;
  border: 0px;
  border-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6); /* Darker translucent background */
  color: var(--secondary-text-color); /* Use the lighter text color */
  text-align: left;
  font-size: 1rem;
}

.event-details h2 {
  margin: 0;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
  color: var(--text-color); /* Use primary text color */
}

.event-details p {
  margin: 0.5rem 0;
  font-size: 1rem;
  line-height: 1.4;
}

.event-details strong {
  color: var(--text-color); /* Use the main text color for better contrast */
  font-weight: bold;
}

.venue-link {
  color: var(--text-color);
  background-color: var(--accent-color);
  font-weight: bold;
  text-decoration: none;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  transition: background-color 0.3s, color 0.3s;
}

.venue-link:hover {
  background-color: var(--background-color);
  color: var(--text-color);
}

.imageContainer {
  display: flex;
  grid-row: 2; /* Place in the row above the footer */
  grid-column: 1; /* Align with the main content column */
  justify-self: end; /* Align the image to the far right */
  align-self: flex-end; /* Center it vertically within its row */
  max-width: 300px;
}

.imageContainer img {
  align-self: flex-end;
}

footer {
  grid-row: 3; /* Place in the last row */
  grid-column: 1; /* Full-width footer */
  width: 100%; /* Ensure full-width */
  background-color: var(--footer-bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}
.footer a {
  color: var(--text-color);
  text-decoration: none;
  display: inline;
  transition: color 0.3s;
  margin: 0;
}

.footer a:hover {
  color: var(--footer-text-hover-color);

}



.socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.socials a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  font-size: 1rem;
  transition: color 0.3s;
}

.socials svg {
  margin-right: 0.5rem;
  font-size: 1.5rem;
}

.socials a:hover {
  color: var(--footer-text-hover-color);
}

@media (min-width: 1000px) {
  .container {
    grid-template-rows: auto 50px; /* Main Content, Footer */
    grid-template-columns: 1fr 1fr; /* Two-column layout */
  }

  .main-content {
    grid-row: 1; /* Place in the first row */
    grid-column: 1 / 2; /* Span both columns */
    justify-self: center; /* Align content to the left */
    text-align: left;
    padding: 1rem;
  }

  .imageContainer {
    grid-row: 1; /* Place in the first row */
    grid-column: 2; /* Align with the second column */
    justify-self: end; /* Align the image to the far right */
    max-width: 1000px;
  }

  .imageContainer img {
    max-width: 100%;
  }
  footer {
    grid-row: 2; /* Place in the last row */
    grid-column: 1 / 3; /* Span both columns */
  }
  
}
@media (min-width: 1350px) {
  .container {
    grid-template-rows: auto 50px; /* Main Content, Footer */
    grid-template-columns: 1fr 2fr; /* Two-column layout */
  }
}